/* You can add global styles to this file, and also import other style files */
body{
    margin-right: 3%;
    margin-left: 7%;
    margin-top: 20px;
    margin-bottom: 50px;
}
footer {
    text-align: center;
    font-weight: bolder;
}